@{
    ViewBag.Title = "Surveys";
}
@section header
{
    <h2>Surveys</h2>
}
<section class="col-lg-12 col-md-12">
    Hi -
    <br />
    Spoke to Larry about this and we’re pretty good with how the reporting of the survey is in the current system.  So we’ll need the ability to have a date range, and have it calculate the total amount entered and totals per question, include % of each response as well.
    <br />
    We also currently are able to run a report for our fill in questions.    See attached for examples of reports we generate monthly.
    <br />
    We’d also need separate reports for pure gold customers vs non-pure gold customers.
    <br />
    For your reference, attached is the most current Pure Gold Survey.
    <br />
    Let me know if you have any other questions.
    <br />
    Thanks.
    <br />
    Leslie
    <br />
    <br />
    <br />
    <br />
    Forgot to mention - We’d also need the ability to run reports per region and/or office – as you can see from the pdf reports.
    <br />
    Also, Dan, I believe the RVPs can run reports for themselves and offices, correct?  Same for certain departments like WFS and Career Development?  Not sure if you need to build that into the new system or if that part won’t be affected?
    <br />
    Thanks.
    <br />
    Leslie
</section>
