.printjob-box-padding {
    padding: 5px;
}

.table {
    margin-bottom: 0px;
}

#templateSelector {
    width: 230px;
}

#enteredPrintJobName {
    width: 280px;
}

.total-customers-text {
    padding-left: 9px;
    color: #0026ff;
    font-size: 14px;
    -ms-text-shadow: 2px 2px 2px #c0c0c0;
    -webkit-text-shadow: 2px 2px 2px #c0c0c0;
    text-shadow: 2px 2px 2px #c0c0c0;
}

.passed-qa-customers-text {
    padding-left: 9px;
    color: #009d14;
    font-size: 14px;
    -ms-text-shadow: 2px 2px 2px #c0c0c0;
    -webkit-text-shadow: 2px 2px 2px #c0c0c0;
    text-shadow: 2px 2px 2px #c0c0c0;
}

.failed-qa-customers-text {
    padding-left: 9px;
    color: #ff0000;
    font-size: 14px;
    -ms-text-shadow: 2px 2px 2px #c0c0c0;
    -webkit-text-shadow: 2px 2px 2px #c0c0c0;
    text-shadow: 2px 2px 2px #c0c0c0;
}

.printjob-section-title, .missed-customer-section-title {
    margin-bottom: 2px;
}

.printjob-name {
    color: #009d14;
    -ms-text-shadow: 2px 2px 2px #c0c0c0;
    -webkit-text-shadow: 2px 2px 2px #c0c0c0;
    text-shadow: 2px 2px 2px #c0c0c0;
}

.printjob-warning {
    font-size: 11pt;
    color: #0026ff;
    -ms-text-shadow: 2px 2px 2px #c0c0c0;
    -webkit-text-shadow: 2px 2px 2px #c0c0c0;
    text-shadow: 2px 2px 2px #c0c0c0;
}

.recent-printjob-viewbutton {
}

.printjob-ids {
}
