@model AdminPureGold.Domain.Models.Mrc.ChangeRequest
<table class="table table-condensed table-responsive table-no-margin">
    <tr>
        <th style="border-top: none">Special Request</th>        
    </tr>
    <tr>
        <td>
            @if (@Model.ChangeRequestComments.Any())
            {
                @Model.ChangeRequestComments.OrderBy(comment => comment.CrDate).First().Comment
            }            
        </td>        
    </tr>
</table>