<table class="table table-condensed table-responsive table-no-margin">
    <tr>
        <th style="border-top: none">Removal Reason</th>        
    </tr>
    <tr>
        <td>
            Please remove from my customer list.
        </td>        
    </tr>
</table>