<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WeichertCoreEntities" connectionString="metadata=res://*/Models.WeichertCore.WeichertCore.csdl|res://*/Models.WeichertCore.WeichertCore.ssdl|res://*/Models.WeichertCore.WeichertCore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.55,8474;initial catalog=WeichertCore;user id=WeichertOne_User;password=wou30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>