@{
    ViewBag.Title = "Details";
}

<h2>Email Reminder Details</h2>
@Html.ActionLink("Back To List", "Index", "Email", null, null)
<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>Agent Name</th>
        <th>
            Agent Person Number
        </th>
        <th>
            Agent Customer List
        </th>
    </tr>
    <tr>
        <td>
            Eric Torres
        </td>
        <td>
            22200293
        </td>
        <td>
            <div>
                Harry Man
            </div>
            <div>
                Sally Seller
            </div>
            <div>
                Julia Roberts
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Amy Agent   
        </td>
        <td>
            22200222
        </td>
        <td>
            <div>
                Dan Lapenta
            </div>
            <div>
                Barry Buyer
            </div>
        </td>
    </tr>
</table>
