<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="SMTPServer" value="crp-mailhub02p" />
    <add key="TestEmailRecipients" value="dlapenta@weichertrealtors.net" />
    <add key="IsLiveMode" value="false" />
  </appSettings>

  <connectionStrings>
    <add name="MrcContext" connectionString="server=172.31.80.68,8474;database=MRCDirect;uid=MRCDirect_User;password=mrcdu50sql;" providerName="System.Data.SqlClient" />
    <!--<add name="MrcContext"
         connectionString="server=172.31.80.63,8474;database=MRCDirect;uid=MRCDirect_User;password=mrcdu50sql;"
         providerName="System.Data.SqlClient" />-->
    <add name="WeichertCoreContext" connectionString="server=10.0.0.55,8474;database=WeichertCore;uid=WeichertOne_User;password=wou30;" providerName="System.Data.SqlClient" />
    <!--<add name="WeichertCoreContext" 
         connectionString="server=10.0.0.233,8474;database=WeichertCore;uid=WeichertOne_User;password=wou30;" 
         providerName="System.Data.SqlClient" />-->
    <add name="AtlasXContext" connectionString="server=172.31.80.68,8474;database=AtlasX;uid=AtlasX_User;Password=axu30sql;" providerName="System.Data.SqlClient" />
    <add name="AtlasX" connectionString="server=172.31.80.68,8474;database=AtlasX;uid=AtlasX_User;Password=axu30sql;" providerName="System.Data.SqlClient" />
    <!--<add name="AtlasXContext" 
         connectionString="server=172.31.80.61,8474;database=AtlasX;uid=AtlasX_User;Password=axu30sql;" 
         providerName="System.Data.SqlClient"/>-->
    <add name="WeichertSLContext" connectionString="server=172.31.80.68,8474;database=WeichertSL;uid=WeichertSL_User;password=wslU40sql;" providerName="System.Data.SqlClient" />
    <!--<add name="WeichertSLContext" 
         connectionString="server=172.31.80.105,8474;database=WeichertSL;uid=WeichertSL_User;password=wslU40sql;" 
         providerName="System.Data.SqlClient" />-->
    <add name="CorpCommContext" connectionString="server=10.0.0.55,8474;database=CorpComm;uid=CorpComm_User;password=ccUser_30;" providerName="System.Data.SqlClient"/>
    <!--<add name="CorpCommContext" connectionString="server=10.0.0.218,8474;database=CorpComm;uid=CorpComm_User;password=ccu30sql;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>